<?php

// Infos venant de l'enregistrement de l'application Twinoid
const APP_TWINOID_ID   = 000;
const APP_SECRET_KEY   = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
const APP_REDIRECT_URI = "http://fouille.twinpedia.com/redir.php";

// Connexion à la base de données
const DB_HOST = "localhost";
const DB_USER = "xxxxxxxx";
const DB_PASS = "yyyyyyyy";
const DB_NAME = "zzzzzzzz";

?>
